<header>
    <h1>Welcome!</h1>
</header>
<section>
    <div class="container">
        <div class="row">
            <div class="col l4 s12">
                <h3>Entries</h3>
            </div>
            <div class="col l4 s12">
                <h3>Bills</h3>
            </div>
            <div class="col l4 s12">
                <h3>Caps</h3>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <div class="row">
            <div class="col s12">
                <canvas id="pieChart"></canvas>
            </div>
        </div>
    </div>
</section>