<body id="spendingBody">
    <header>
        <div class="container">
            <h4 class="link-left"><a href="/">Dashboard</a></h4>
            <h4 class="link-right"><a href="/profile">Profile</a></h4>
            <h1 class="pageTitle">Spending</h1>
        </div>
    </header>

    <section>
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h3 class="pageSubTitle">View Spending</h3>
                    <div id="spendingSection">
                        <div class="spending-item">
                            <span class="spending-text">Concert Tickets</span>
                            <button class="btn spending-delete">Delete</button>
                        </div>
                    </div>
                </div>
                <div class="col l6 s12">
                    <h3 class="pageSubTitle">Add to Spending</h3>
                    <form id="spendingForm">
                        <label for="desc" class="spending-label">Description</label>
                        <input type="text" id="desc" tabindex="0" class="spending-input"
                            placeholder="Enter purchase description">
                        <label for="amount" class="spending-label">Amount</label>
                        <input type="text" id="amount" tabindex="0" class="spending-input"
                            placeholder="Enter purchase amount">
                        <select name="categoryList" id="spendingList">
                            {{!-- enter handlebars for this part --}}
                            {{#each categories}}
                            <option value="">hello</option>
                            {{/each}}
                        </select>
                        <label for="categories" class="spending-label">Categories</label>

                        <p>
                            <label class="spending-label">
                                <input type="checkbox" value="bill" id="isBill" />
                                <span>Is This Recurring?</span>
                            </label>
                        </p>
                        <input type="text" class="datepicker" placeholder="Enter purchase date">
                        <a href="/entry" class="btn btn-large bigButton">Add to Spending</a>
                    </form>
                </div>
            </div>
        </div>
    </section>
</body>