<body id="login-body">

    <div class="container">
        <div class="row">
            <div class="col m2"></div>
            <div class="col m8">
                <div class="card-panel solo-card" id="login-card">
                    <h1 class="pageSubTitle">Welcome!</h1>
                    <form>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="email" type="email" class="validate b-text">
                                <label class="b-text" for="email">Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="password" type="password" class="validate b-text">
                                <label class="b-text" for="password">Password</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col m4"></div>
                            <div class="col m4">
                                <button id="loginbtn" class="btn-large bigButton">Login</button>
                            </div>
                            <div class="col m4"></div>
                        </div>
                        <div class="row">
                            <div class="col m4"></div>
                            <div class="col m4">
                                <a href="/signup" class="btn-large bigButton">Sign-Up</a>
                            </div>
                            <div class="col m4"></div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col m2"></div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"
        integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
    <script src="/assets/js/login.js"></script>
</body>