<body>
    <div class="row headers">
        <div class="col m2">
            <h4 class="pageSubTitle">Dashboard</h4>
        </div>
        <div class="col m8">
            <h3 class="pageTitle">Profile</h3>
        </div>
        <div class="col m2">
            <h4 class="pageSubTitle">Profile</h4>
        </div>
    </div>
    <div class="container">
        <section id="myInfo">My info</section>
        <section id="myIncome">My Income</section>
        <section id="bottom-buttons">Buttons</section>
    </div>
</body>