<body id="login-body">

    <div class="container">
        <div class="row">
            <div class="col m2"></div>
            <div class="col m8">
                <div class="card-panel solo-card" id="login-card">
                    <h1>User Sign-Up</h1>
                    <form>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="preferredName" type="text" class="validate">
                                <label for="preferredName">Name</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="email" type="email" class="validate">
                                <label for="email">Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="phoneNumber" type="text" class="validate">
                                <label for="phoneNumber">Phone Number (optional)</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input id="password" type="password" class="validate">
                                <label for="password">Password</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col m4"></div>
                            <div class="col m4">
                                <button id="#newUser" class="login-button btn-large bigButton">Submit</button>
                            </div>
                            <div class="col m4"></div>
                        </div>
                        <div class="row">
                            <div class="col m4"></div>
                            <div class="col m4">
                                <a href="/login" class="login-button btn-large bigButton">Back</a>
                            </div>
                            <div class="col m4"></div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col m2"></div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.0.min.js"
        integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg=" crossorigin="anonymous"></script>
    <script src="/assets/js/login.js"></script>
</body>