@import url('https://fonts.googleapis.com/css?family=ABeeZee|Lato:400,700');

* {
    box-sizing: border-box;
    color: var(--dark-blue);
}

:root {
    --dark-blue: #586b8f;
    --light-blue: #addce4;
    --yellow: #ffed78;
    --light-yellow: #feffea;
    --darker-blue: #142d4c;
}

#login-body {
    background-color: var(--light-blue);
}
#login-card {
    background-color: var(--light-yellow);
}
.login-button {
    width: 100%;
    background-color: var(--dark-blue);
}
.solo-card {
    top: 1rem;
}
