@import url('https://fonts.googleapis.com/css?family=ABeeZee|Lato:400,700');

* {
    box-sizing: border-box;
}

:root {
    --dark-blue: #586b8f;
    --light-blue: #addce4;
    --yellow: #ffed78;
    --light-yellow: #feffea;
    --darker-blue: #142d4c;
}

body {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
}

.pageTitle {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-align: center;
}

.pageSubTitle {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-weight: 700;
}

.bigButton {
    width: 100%;
    height: 50px;
    background: var(--yellow);
    color: var(--dark-blue);
    border-radius: 5px;
}

#dashboardBody {
    background-color: var(--light-blue);
}

header {
    background-color: var(--dark-blue);
}

#spendingSection {
    width: 80%;
    margin-top: .5rem;
}

.spending-item {
    background-color: var(--light-yellow);
    padding: 10px 25px 45px 25px;
    border-radius: 5px;
}

.spending-text {
    float: left;
    font-size: 1.25rem;
}

.spending-delete {
    float: right;
    background-color: var(--dark-blue);
    color: var(--light-yellow);
    border-radius: 5px;
}

#spendingForm {
    background-color: var(--light-yellow);
    padding: 15px;
    border-radius: 5px;
}

#spendingBody {
    background-color: var(--light-blue);
}