@import url('https://fonts.googleapis.com/css?family=ABeeZee|Lato:400,700');

* {
    box-sizing: border-box;
    color: var(--dark-blue);
}

:root {
    --dark-blue: #586b8f;
    --light-blue: #addce4;
    --yellow: #ffed78;
    --light-yellow: #feffea;
    --darker-blue: #142d4c;
}

#login-body {
    background-color: var(--light-blue);
}
#login-card {
    background-color: var(--light-yellow);
}
.login-button {
    width: 100%;
    background-color: var(--yellow);
    color: var(--dark-blue);
}
.solo-card {
    top: 1rem;
}

.pageTitle {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-weight: 700;
    text-align: center;
    color: var(--light-yellow);

}

.pageSubTitle {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-weight: 700;
    color: var(--light-yellow);

}

.bigButton {
    width: 100%;
    max-width: 300px;
    height: 50px;
    background: var(--yellow);
    color: var(--dark-blue);
    border-radius: 5px;
}

.headers {
    background-color: var(--dark-blue);

}
